# === Python backend ===
crud_backend/venv/
**/__pycache__/
crud_backend/node_modules/


# === Node frontend ===
crud_frontend/node_modules/

# Sistema
.DS_Store
Thumbs.db
.env
venv/
__pycache__/
node_modules/
dist/      
.env       
